
@font-face {
  font-family: Jones;
  src: url(../src/Fonts/Adventure-YGZ2.ttf);
}

.Jones {
  font-family: Jones;
}

main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #8c54ff;
  --secondary: #F3A847;
  --tertiary: #B12704;
  --light: #f8eded;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: #ebd5a0;
  font-family: 'Poiret One', cursive;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 15px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
  color: #000000;
  font-family: Jones;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}



header {
  background-color: #97583f;
}

header a {
  width: 50%;
  color: white;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
  max-width: 70%;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
  padding-bottom: 40px;
}

input {
  font-size: 1rem;
  padding-bottom: 10px;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

li {
  list-style: none;
}

nav a:hover {
  text-decoration: none;
}

nav  li {
  cursor: pointer;
  
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

.underline {

  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-radius: 50%;
}

.underline-2 {

  border-bottom: 2px solid black;
  border-right: 2px solid black;
  box-shadow: 3px 5px darkgray;
  width: 70%;
}

.hover:hover {
  color: #F3A847;

}
.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(66, 0, 0);
  color: white;
  text-align: center;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);

}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 24%;
  text-align: center;
  border: .5px solid rgb(66, 0, 0);
  box-shadow: 3px 5px darkgray;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  margin-left: 10px;
}

.img-thumbnail {
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}


.modalBackdrop {
	background: rgba(0, 0, 0, .65);
	bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

.modalContainer {
	background: var(--darker);
	border-radius: 5px;
	max-width: 100%;
	margin: 50px auto;
	padding: 15px;
	width: 960px;
}

.modalTitle {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 25px;
}

button {
	background: var(--primary);
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}

a {
	border-radius: 5px;
	color: var(--primary);
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
	
}

.text-center {
width: 70%;
}

.navActive {
  color: var(--secondary);
}


.text-color {
  color: rgb(0, 0, 0);
}

.center-spacing {
  display: flex;
  margin: auto;
  width: 70%;
  height: 100%;
  border: .5px solid rgb(66, 0, 0);
  border-radius: 5px;
  box-shadow: 3px 5px darkgray;
  padding: 10px;
  background-color: var(--light);
}

.product-spacing {
  display: flex;
  margin: auto;
  width: 70%;
  height: 100%;
  border: .5px solid rgb(66, 0, 0);
  border-radius: 5px;
  box-shadow: 3px 5px darkgray;
  padding: 10px;
  background-color: #97583f;
}


.product-styling {
  background-color: var(--light);
}

.about-styling {
  display: flex;
  margin: auto;
  margin-top: 150px;
  width: 70%;
  height: 100%;
  margin-bottom: 200px;
  color: (66, 0, 0);
  border-bottom: 3px solid rgb(66, 0, 0);
}


.contact-styling {
  display: flex;
  margin: auto;
  width: 70%;
  height: 100%;
  margin-top: 150px;
  margin-bottom: 50px;
  color: (66, 0, 0);
  border-bottom: 3px solid rgb(66, 0, 0);
}


.form-s {
  padding-top: 18px;
  padding-left: 17%;
  margin: auto;
  width: 70%;
  height: 100%;
  background-color: #f8eded;
  border: .5px solid rgb(66, 0, 0);
  border-radius: 5px;
  box-shadow: 3px 5px darkgray;
  margin-bottom: 30px;
  margin-top: 200px;
}

.form-p {
  padding-top: 18px;
  padding-left: 12%;
  margin: auto;
  width: 50%;
  height: 100%;
  background-color: #f8eded;
  border: .5px solid rgb(66, 0, 0);
  border-radius: 5px;
  box-shadow: 3px 5px darkgray;
  margin-bottom: 30px;
  margin-top: 95px;
}

.form-a {
  padding-top: 10px;
  padding-left: 15px;
  margin: auto;
  width: 70%;
  height: 100%;
  background-color: #f8eded;
  border: .5px solid rgb(66, 0, 0);
  border-radius: 5px;
  box-shadow: 3px 5px darkgray;
  margin-bottom: 30px;
}

.header-color {
  color: white;
  position: fixed;
  top: 0;
  width: 100%
}

.input-s {
  width: 70%;
  border: 1px solid;
  margin-bottom: 15px;
}

.btn {
  width: 70%;
  background-color: #97583f;
  margin-top: 15px;
  color: #000000;
}

.btn:hover {
  color: #F3A847;
}